
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;

}
.container {
  max-width: 980px;
  width: 100%;
  margin: 0 auto;
}
.container-2 {
  max-width: 1345px;
  width: 100%;
  margin: 0 auto;
}
body {
  background-color:  #277920d7;
  height: 100vh;  
}

header {
  background-color: #F7F7F7;
}
header h1 {
  width: 80vh;
  height: 10vh;
  margin-top: 2vh;
  color:  #175012d7;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  max-width: 1100px;
  margin: auto;
}

section.hero {
  height: 20vh;
  
}

section.hero h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  line-height: 7.5vh;
  color:  #F7F7F7;
  margin:auto;
  padding: 1vh;
}

section.hero .container {
  max-width: 980px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;

}

.busca-select {
  padding: 5vh;
}

.container div input {
  color:  #292b29bf;
  padding: 1em;
  border: none;
  border-radius: 2.34375vh;
  font-size: 0.9rem;
  width: 74vh;
  height: 5vh;
  outline: none;
  transition: background-color 0.1s ease-in;
}

#busca-filtro {
  height: 5vh;
  border-radius: 2.34375vh;
  border: none;
  color: #292b29bf;
  font-size: 0.9rem;
  padding: 0.2em;
  outline: none;
  margin: 1vh 0vh 5vh 20vh;
}

.input-busca {
  margin: 1vh 40vh 5vh 10vh;
}
.container form input:focus {
  background-color: rgb(231, 238, 231);
}

#myGrid {
  --ag-header-background-color: #154610c5;
  --ag-header-foreground-color: #F7F7F7;
  --ag-odd-row-background-color: #205f1934;
  --ag-widget-horizontal-spacing: 50%;
  --ag-borders: none;
    margin-left: 1vh;

}

@media (max-width: 1350px)  {
  #myGrid {
    max-width: 1090px;
    margin-left: 5vh;
  }
}


@media (max-width: 1150px) {
  .input-busca {
    margin: 1vh 50vh 5vh 10vh;
  }
  #busca-filtro {
    margin-left: 30vh;
  }
  #myGrid {
    max-width: 780px;
  }
}

@media (max-width: 830px) {
  section.hero {
    height: 30vh;
  }
  .hero .container {
      flex-direction: column;
      text-align: center;
  }
  .hero .container img {
      order: -1;
  }

  .input-busca {
    margin: 1vh 0 3vh 10vh;
  
  }
  .container div input {
    width: 50vh;
  }
  #myGrid {
    max-width: 530px;
    margin-left: 10vh;
  }
  #busca-filtro {
    margin-right: 20vh;
  }
}

@media (max-width: 630px) {
  #myGrid {
    max-width: 410px;
  }
  #busca-filtro {
    margin-left: 25vh;
  }
}
@media (max-width: 530px) {
  #myGrid {
    max-width: 310px;
  }
  #busca-filtro {
    margin-left: 25vh;
  }
}


@media (max-width: 380px) {
  #myGrid {
    max-width: 250px;
  }
  .container div input {
      width: 40vh;
  }
}